* {
  box-sizing: border-box;
}

body {
  background-color: #151618;
  color: white;
  display: flex;
  justify-content: center;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  align-items: center;
  padding-right: 15%;
  padding-left: 15%;
}

.bg-rect {
  background-color: rgba(255, 255, 255, 0.107);
  padding: 1em;
  border-radius: 2em;
}

.button {
  width: 3em;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  scale: 1.2;
  transition: 0.5s;
}

.button:active {
  filter: brightness(200%);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.main-header {
  display: flex;
  gap: 1em;
}

#map {
  flex-grow: 1;
  border-radius: 1em;
  width: 100%;
}

.ymaps-2-1-79-map {
  border-radius: 2em; /* Adjust the value as needed */
  overflow: hidden; /* Ensure that the border-radius is applied */
}

.route {
  align-self: center;
}

.params {
  text-align: center;
}

select {
  border-radius: 0.5em;
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 0.1em;
  cursor: pointer;
}

.select-item {
  background-color: rgb(131, 21, 134);
  color: #fff;
  text-align: center;
}

.footer {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-grow: 1;
}

.routes {
  display: flex;
  gap: 1em;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
  background-color: transparent;
  caret-color: white;
  color: white;
  width: 100%;
}

.params {
  width: 100%;
}